<div class="left-sidebar-pro">
    <nav id="sidebar" class="">
        <div class="sidebar-header">
            <a href="index.html"><img class="main-logo" src="img/logo/logo.png" alt="" /></a>
            <strong><a href="index.html"><img src="img/logo/logosn.png" alt="" /></a></strong>
        </div>
        <div class="left-custom-menu-adp-wrap comment-scrollbar">
            <nav class="sidebar-nav left-sidebar-menu-pro">
                <ul class="metismenu" id="menu1">
                    <li class="active">
                        <a href="/">
                            <span class="educate-icon educate-home icon-wrap"></span>
                            <span class="mini-click-non">Trang chủ</span>
                        </a>

                    </li>
                    <li>
                        <a href="list-teachers" aria-expanded="false"><span
                                class="educate-icon educate-professor icon-wrap"></span> <span
                                class="mini-click-non">Giáo viên</span></a>
                    </li>
                    <li>
                        <a href="all-students.html" aria-expanded="false"><span
                                class="educate-icon educate-student icon-wrap"></span> <span class="mini-click-non">Học
                                viên</span></a>
                    </li>
                    <li>
                        <a href="all-courses.html" aria-expanded="false"><span
                                class="educate-icon educate-course icon-wrap"></span> <span class="mini-click-non">Khoá
                                học</span></a>
                    </li>
                    <li>
                        <a href="all-courses.html" aria-expanded="false"><span
                                class="educate-icon educate-library icon-wrap"></span> <span class="mini-click-non">Lĩnh
                                vực</span></a>
                    </li>



                    <li id="removable">
                        <a href="#" aria-expanded="false"><span class="educate-icon educate-pages icon-wrap"></span>
                            <span class="mini-click-non">Đăng xuất</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>
</div>